{# lists all the tags available #}
{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block header%}
  {% include "partials/header.html" %}
{% endblock header %}

{% block title %} {% endblock title %}

{% block main %}

<main class="site-main section-inner thin animated fadeIn faster" style="text-align: center;">
  {% block content %}
  {% for tag in terms %}
  <header class="post-header">
      <h1 class="post-header__title"><a href="{{ config.base_url }}/tags/{{ tag.slug }}">{{ tag.name }}</a></h1>
    <p class="post-header__info">
      {{ tag.pages | length }} post{{ tag.pages | length | pluralize }}
    </p>
  </header>
  {% endfor %}
  {% endblock content %}
</main>

{% endblock main %}

{% block footer %} 
  {{ macros::footer() }}
{% endblock footer %}
