<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta itemprop="name" content="{{config.title}}" />
<meta itemprop="description" content="{{config.description}}" />

<link rel="apple-touch-icon" sizes="180x180" href="{{get_url(path="apple-touch-icon.png")}}"/>
<link rel="icon" type="image/png" sizes="32x32" href="{{get_url(path="favicon-32x32.png")}}" />
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{get_url(path="favicon-16x16.png")}}"
/>
<link
  rel="shortcut icon"
  href="{{get_url(path="favicon.ico")}}"
/>
<link rel="stylesheet" href="{{get_url(path="style.css")}}"/>
{% if page.title %}
<title>{{page.title}}</title>
{% else %}
<title>{{config.title}}</title>
{% endif %}

{% if config.generate_feed %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=config.feed_filename, trailing_slash=false) }}">
{% endif %}